.questions h1{
    text-align: center;
}
.question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
    margin-bottom: 50px;
    background-color: #ffb6c136;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid lightgray;
}
.question p{
    text-align: justify;
}
.question img{
    width: 350px;
    height: 260px;
    border-radius: 10px;
    margin-left: 35px;
}
@media screen and (max-width:570px){
    .question{
        display: flex;
        flex-direction: column;
        margin: 10px;
        overflow: hidden;
        
        
    }  

}
