nav.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 130px;
    background: #ca0d73;
    color: white;
}


a {
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}